body {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./img/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock {
    transition: all 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock:hover {
    background-color: transparent;
}
.clock__display {
    font-family: Arial;
    opacity: 0.3;
    font-size: 10rem;
    word-break: break-all;
    padding: auto;
}